.login-bg {
  width: 100%;
  height: 100vh;
  background-color: #3a53a4;
  .login-box {
    width: 60vw;
    height: 60vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .login-left {
      width: 40%;
      height: 95%;
      margin: 20px;
      box-sizing: border-box;
      // background-image: url(require("@/assets/login-bg.gif"));
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .left-image {
        border-radius: 20px;
        height: 100%;
      }
    }
    .login-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .login-form {
        width: 100%;
        .login-title {
          width: 100%;
          font-weight: 700;
          letter-spacing: 2px;
          font-size: 22px;
        }
        .ant-form-item {
          margin: 40px 0;
        }
      }
    }
  }
}